body {
  padding-top: 50px;
  background-image: url("../img/repeatable-bkg_more-lighter.jpg");
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 20px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
  -o-transition: color .3s ease;
  -moz-transition: color .3s ease;
  -khtml-transition: color .3s ease;
  -webkit-transition: color .3s ease;
  -ms-transition: color .3s ease;
  transition: color .3s ease;
}

a:link {
  color: #cc7a00;
  text-decoration: none;
}

/* visited link */
a:visited {
    color: #cc7a00;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: #f90;
    text-decoration: none;
}

/* selected link */
a:active {
    color: #f90;
    text-decoration: none;
}

.navbar-default {
  background-image: url("../img/repeatable-bkg-sublight.jpg");
}

.navbar-default .navbar-brand {
  color: black;
}

.navbar-default .navbar-nav > li > a {
  color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #eee;
}

#header-container {
  background-image: url("../img/repeatable-bkg-light.jpg");
}

header {
  text-align: center;
}

header h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

header h4 {
  margin-top: 0;
}

header h5 {
  margin-bottom: 40px;
}

header img {
  margin-top: 25px;
}

.slider-par {
  color: white;
  text-align: center;
  font-size: 36px;
  text-shadow: 1px 1px 3px #000;
  margin-top: 3rem;
}

.slider-separator {
  height: 40px;
}

h4.fancy_separator {
  padding: 10px 0 10px 35px;
  margin-bottom: 20px;
  background-image: -webkit-linear-gradient(left, white, rgba(255,0,0,0));
  background-image: -moz-linear-gradient(left, white, rgba(255,0,0,0));
  background-image: -o-linear-gradient(left, white, rgba(255,0,0,0));
  background-image: linear-gradient(to right, white, rgba(255,0,0,0));

  position: relative;
  left: -15px;
}

ul.service-list {
  list-style: none url("../img/check_green.png");
  padding: 0 0 0 20px;
  font-size: 20px;
}

li.service-list {
  padding-bottom: 10px;
}

ul.services {
    font-size: 18px;
    padding-left: 20px;
}

li.services {
  padding-bottom: 5px;
}

h4.services {
  padding: 20px 20px 20px 20px;
  display: inline-block;
  background-image: url("../img/repeatable-bkg-light.jpg");
  border-radius: 5px;
}

#footer-container {
  margin: 50px 0 0 0;
  background-color: #e8e8e8;
  background-image: url("../img/repeatable-bkg-light.jpg");
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
}

footer {
  font-family: "Droid Serif", Georgia, serif;
}

footer p {
    font-size: 16px;
    margin: 30px 0 0 0;
    text-align: center;
}

#social-buttons-container {
  width: 260px;
  margin: 0 auto;
}

#share-buttons {
  text-align: center;
}

#share-buttons img {
  width: 50px;
  padding: 5px;
  border: 0;
  box-shadow: 0;
  display: inline;
}
