<div style="position: relative; top: 0px; left: 0px; width: 1000px; height: 200px;">
    <!-- Slides Container -->
    <!-- http://www.jssor.com/download.html -->
    <div u="slides" style="cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; width: 1000px; height: 200px;">
        <div>
          <img u="image" src="img/building-automation-header.jpg"/>
          <div u="any" style="position: absolute; top: 20%; left: 0px; width: 100%; height: 100%;">
            <h3 class="slider-par">Cégügyintézés Szlovákiában és Magyarországon</h3>
          </div>
        </div>
        <div>
          <img u="image" src="img/books_header_small.jpg" />
          <div u="any" style="position: absolute; top: 20%; left: 0px; width: 100%; height: 100%;">
            <h3 class="slider-par">Könyvelési szolgáltatások</h3>
          </div>
        </div>
        <div>
          <img u="image" src="img/bg_wall.jpg" />
          <div u="any" style="position: absolute; top: 20%; left: 0px; width: 100%; height: 100%;">
            <h3 class="slider-par">Szlovákiai jármű regisztráció</h3>
          </div>
        </div>
        <div>
          <img u="image" src="img/family-law1.jpg" />
          <div u="any" style="position: absolute; top: 20%; left: 0px; width: 100%; height: 100%;">
            <h3 class="slider-par">Jogi tanácsadás és képviselet</h3>
          </div>
        </div>
    </div>
    <!-- Bullet Navigator Skin Begin -->
    <style>
        /* jssor slider bullet navigator skin 14 css */
        /*
        .jssorb14 div           (normal)
        .jssorb14 div:hover     (normal mouseover)
        .jssorb14 .av           (active)
        .jssorb14 .av:hover     (active mouseover)
        .jssorb14 .dn           (mousedown)
        */
        .jssorb14 div, .jssorb14 div:hover, .jssorb14 .av
        {
            background: url(img/b14.png) no-repeat;
            overflow:hidden;
            cursor: pointer;
        }
        .jssorb14 div { background-position: -9px -9px; }
        .jssorb14 div:hover, .jssorb14 .av:hover { background-position: -39px -9px; }
        .jssorb14 .av { background-position: -69px -9px; }
        .jssorb14 .dn, .jssorb14 .dn:hover { background-position: -99px -9px; }
    </style>
    <!-- bullet navigator container -->
    <div u="navigator" class="jssorb14" style="position: absolute; bottom: 16px; right: 6px;">
        <!-- bullet navigator item prototype -->
        <div u="prototype" style="POSITION: absolute; WIDTH: 12px; HEIGHT: 12px;"></div>
    </div>
    <!-- Bullet Navigator Skin End -->

</div>
