<!DOCTYPE html>
<html lang="hu" ng-app="evolApp">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="dr. Tóth-Czirfusz Eva ügyvéd | Cégügyintézés Szlovákiában és Magyarországon, szlovákiai jármű regisztráció, jogi tanácsadás és képviselet, könyvelési szolgáltatások">
  <meta name="keywords" content="magyar cégügyintézés, szlovákiai cégügyintézés, székhelyszolgáltatás, szlovákiai jármű regisztráció, jogi tanácsadás, jogi képviselet, könyvelési szolgáltatások">
  <meta name="author" content="tompascall">
  <meta name="robot" content="index,nofollow">
  <meta name="revisit-after" content="30">

  <title>Tóth-Czirfusz Eva ügyvéd</title>

  <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="./img/favicon.ico" type="image/x-icon">

  <!-- Bootstrap core CSS -->
  <link href="css/vendor/bootstrap.min.css" rel="stylesheet">

  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <link href="css/vendor/ie10-viewport-bug-workaround.css" rel="stylesheet">

  <link href="css/main.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <script src="js/vendor/smooth-scroll/smooth-scroll.min.js"></script>

</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" ng-controller="navCtrl">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#" data-scroll>Tóth-Czirfusz Eva ügyvéd</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse" ng-class="{in: !status.closed}">

        <ul class="nav navbar-nav visible-xs">
          <li ng-class="{active: status.intro}" ng-click="changeStatus('intro')" data-toggle="collapse" data-target="#navbar"><a data-scroll href="#bemutatkozas">Bemutatkozás</a></li>
          <li ng-class="{active: status.services}" ng-click="changeStatus('services')" data-toggle="collapse" data-target="#navbar"><a data-scroll href="#szolgaltatasok">Szolgáltatások</a></li>
          <li ng-class="{active: status.partners}" ng-click="changeStatus('partners')" data-toggle="collapse" data-target="#navbar"><a  data-scroll href="#partnerek">Partnerek</a></li>
          <li ng-class="{active: status.fees}" ng-click="changeStatus('fees')" data-toggle="collapse" data-target="#navbar"><a data-scroll href="#dijak">Díjak</a></li>
          <li ng-class="{active: status.contacts}" ng-click="changeStatus('contacts')" data-toggle="collapse" data-target="#navbar"><a data-scroll href="#kapcsolat">Kapcsolat</a></li>
        </ul>
        <ul class="nav navbar-nav hidden-xs">
          <li ng-class="{active: status.intro}" ng-click="changeStatus('intro')"><a data-scroll href="#bemutatkozas">Bemutatkozás</a></li>
          <li ng-class="{active: status.services}" ng-click="changeStatus('services')"><a data-scroll href="#szolgaltatasok">Szolgáltatások</a></li>
          <li ng-class="{active: status.partners}" ng-click="changeStatus('partners')"><a  data-scroll href="#partnerek">Partnerek</a></li>
          <li ng-class="{active: status.fees}" ng-click="changeStatus('fees')"><a data-scroll href="#dijak">Díjak</a></li>
          <li ng-class="{active: status.contacts}" ng-click="changeStatus('contacts')"><a data-scroll href="#kapcsolat">Kapcsolat</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

  <!-- HEADER -->
  <div class="container-fluid" id="header-container">
    <header >
      <img src="./img/logo-downloaded.png" alt="logo">
      <h2>dr. Tóth-Czirfusz Eva</h2>
      <h4>egyéni ügyvéd</h4>
      <h5>kereskedelmi jogi szakjogász</h5>
    </header>
  </div>

  <!-- SLIDER -->
  <div slider  class="container-fluid" id="slider1_container"></div>
  <div class="slider-separator"></div>

  <!-- CONTENT -->
  <div class="container-fluid">

    <!-- INTRO -->
    <div id="bemutatkozas"></div>
    <section>
      <h4 class="intro fancy_separator">Bemutatkozás</h4>
      <div class="row padding-back">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <h5 class="welcome">Üdvözlöm honlapomon!</h5>

          <p>2003-ban Szlovákiában szereztem jogi diplomámat, ezt követően Magyarországon kezdtem el dolgozni, és közben 2007-ben Budapesten elvégeztem az ELTE Jogi Továbbképző Intézet Kereskedelmi jogi szakjogász posztgraduális képzését.</p>

          <p>2007-2014 között a bankszektorban nemzetközi jogi területen jogászként dolgoztam.</p>

          <p>2011 szeptemberében szakvizsgáztam Magyarországon.</p>

          <p>2014 szeptember – 2015 októbere között alkalmazott ügyvédként dolgozom Budapesten.</p>

          <p>2015 novembertől pedig önállóan egyéni ügyvédként folytatom tevékenységemet.</p>

          <p>Több mint 10 éve foglalkozom <strong>szlovák cégjogi és kereskedelmi jogi</strong> ügyekkel.</p>

          <p>Ügyvédi tevékenységem során <em>elektronikus cégeljárás</em> ügyintézésével is állok Tisztelt Ügyfeleim
          rendelkezésére. Megbízóim részére <strong>magyar, angol és szlovák nyelven</strong> nyújtok jogi szolgáltatást.</p>

          <p>Magyarországi, illetve szlovákiai könyvelővel és szlovákiai ügyvéd partnereimmel együttműködve
          <strong>teljeskörű jogi és gazdasági tanácsadást</strong> kínálok ügyfeleimnek, mind Magyarország, mind Szlovákia
          területén.</p>

          <p><em>Szakterületeim</em> elsősorban <strong>gazdasági jog</strong>, <strong>társasági jog</strong>, <strong>ingatlanjog</strong> illetve <strong>családi jog.</strong></p>

          <p><em>Tevékenységeim</em>: eseti jogi tanácsadás, állandó tartós megbízás, okiratok szerkesztése, letétkezelés, illetőleg peres eljárás során történő jogi képviselet hazai, szlovákiai és egyéb nemzetközi ügyekben.</p>
        </div>
      </div>
    </section>

    <!-- SERVICES -->
    <div id="szolgaltatasok"></div>
    <section>
      <h4 class="fancy_separator">Szolgáltatások</h4>
      <div class="row padding-back">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

          <ul class="service-list">
            <li class="service-list"><a data-scroll href="#cegalapitas">Szlovák cég alapítása</a></li>
            <li class="service-list"><a data-scroll href="#adasvetel">Adásvételi szerződés és ingatlanjog</a></li>
            <li class="service-list"><a data-scroll href="#kereskedelmi-jog">Kereskedelmi jog</a></li>
            <li class="service-list"><a data-scroll href="#tarsasagi-jog">Társasági jog</a></li>
          </ul>

          <!-- CEGALAPITAS -->
          <section class="subsection">
            <div id="cegalapitas"></div>
            <h4 class="services">Szlovák cég alapítása</h4>
            <p><strong>Önnek ki sem kell utaznia Szlovákiába, Budapesten a szlovák konzulátuson mindent alá tud írni!</strong></p>
            <ul class="services">
              <li class="services">Alapító Okirat és a cégalapítással járó összes dokumentum aláírása a budapesti szlovák konzulátuson</li>
              <li class="services">Vállalkozási Engedély beszerzése (5 EUR illeték/tevékenység)</li>
              <li class="services">Cégbírósági eljárás, illetéke 331,50 EUR</li>
              <li class="services">Cégbírósági eljárás, illetéke 331,50 EUR</li>
              <li class="services">Bankszámla-nyitás (bankkártya igénylés, Internet banking)</li>
              <li class="services">Adószám igénylése és Cégpecsét készítése</li>
            </ul>

            <p><strong>Kft. törzstőke követelménye:</strong></p>
            <p>KFT esetén a minimális törzstőke mértéke 5000,-EUR, amelynek legalább 30 %-a pénzbeli hozzájárulás kell, hogy legyen, a többi lehet akár apport is.  2016. januárjától új szabály érvényes a törzstőke befizetésére. Már nem szükséges az 5000,-EUR-t bankszámlán elhelyezni a cégalapításkor, elég ha a társaság ügyvezetője nyilatkozik, hogy befizetésre kerültek a tagi vagyoni hozzájárulások.</p>

            <p><strong>Mennyi idő kell hozzá?</strong></p>
            <p>A cégalapítás kb. 2 hét (amennyiben a tevékenységhez nem kell speciális engedély):</p>
            <ul class="services">
              <li class="services">1 hét kell a Vállalkozási Engedély beszerzéséhez</li>
              <li class="services">5 nap a cégbírósági bejegyzésre</li>
              <li class="services">EU-s adószám intézése további kb. 30 nap</li>
            </ul>

            <p><strong>Mi szükséges hozzá?</strong></p>
            <ul class="services">
              <li class="services">Tulajdonos(ok) személyes adatai</li>
              <li class="services">Az ügyvezető(k) magyar erkölcsi bizonyítványa</li>
              <li class="services">Szlovákiai székhely (amit mi tudunk biztosítani)</li>
            </ul>

            <p><strong>Szlovákiai Cégjogi Szolgáltatásaink:</strong></p>
            <ul class="services">
              <li class="services">Cég alapitásával és működésével kapcsolatos szolgáltatások biztosítása</li>
              <li class="services">Cégszékhely és üzleti cím biztosítása Dunaszerdahelyen, 50km-re délre Pozsonytól, 40km-re Győrtől</li>
              <li class="services">Postai küldemények átvétele és személyes továbbítása ügyfeleinkhez</li>
              <li class="services">Üzleti telefon és faxszám biztosítása</li>
              <li class="services">Cégek komplex ügyvitelének biztosítása</li>
              <li class="services">Könyvviteli szolgáltatások és adótanácsadás –külső könyvelő iroda bevonásával</li>
              <li class="services">Jogi szolgáltatások és tanácsadás (szlovák és magyaror jog egyaránt)</li>
              <li class="services">IT szolgáltatások</li>
            </ul>
          </section>

          <!-- ADASVETELI SZERZODES ES INGATLANJOG -->
          <section class="subsection">
            <div id="adasvetel"></div>
            <h4 class="services">Adásvételi szerződés és ingatlanjog</h4>

            <p><strong>Adásvételi szerződés</strong></p>
            <ul class="services">
              <li class="services">szerződéskötés akár 1 munkanapon belül</li>
              <li class="services">ügyvédi munkadíj: 0,5%  az ingatlan értékétől függően</li>
            </ul>

            <p><strong>Adásvételi szerződés megkötése esetén az alábbi költségek merülnek fel:</strong></p>
            <p>A vevő oldalán:</p>
            <ul class="services">
              <li class="services">adásvételi szerződést ellenjegyző ügyvéd ügyvédi munkadíj</li>
              <li class="services">földhivatali eljárási díj</li>
              <li class="services">visszterhes vagyonszerzési illeték</li>
              <li class="services">esetleges bankhitelhez kapcsolódó költségek (ez a választott pénzintézettől függő tétel, nem irodánk érdekkörébe tartozik)</li>
            </ul>

            <p>Az eladó oldalán:</p>
            <ul class="services">
              <li class="services">a vételárból származó jövedelem adója</li>
              <li class="services">az ingatlan esetleges tehermentesítésének költsége, földhivatali eljárási díja</li>
            </ul>

           <p><strong>Az ingatlanok adásvételével kapcsolatos ügyvédi szolgáltatás magában foglalja:</strong></p>
            <ul class="services">
              <li class="services">teljes körű tanácsadást</li>
              <li class="services">a hiteles tulajdoni lap beszerzését, az ingatlan jogi helyzetének alapos vizsgálatát</li>
              <li class="services">az ügyelettel kapcsolatban esetlegesen szükségessé váló egyéb okiratok megszerkesztését (pl. elővásárlási jogról lemondó nyilatkozat, stb.)</li>

              <li class="services">a teljes körű képviseletet és földhivatali ügyintézést</li>
              <li class="services">az esetleges ügyvédi letétkezelést</li>
              <li class="services">az adó és illetékfizetésre vonatkozó tájékoztatást, és az ezzel összefüggő tanácsadást</li>
            </ul>

            <p><strong>Egyéb Szolgáltatások ingatlanjog területén:</strong></p>
            <p>Ingatlan cserével, ajándékozással kapcsolatos ingatlanjog; építési szerződés, bérlet, használati szerződések, közös tulajdon megszüntetése, tartási-, öröklési-, életjáradéki szerződések, egyéb ingatlan szerződésekhez kapcsolódó ingatlanjog; ingatlan perek, birtokviták, szomszédjogi ügyek.</p>
          </section>

          <!-- KERESKEDELMI JOG -->
          <section class="subsection">
            <div id="kereskedelmi-jog"></div>
            <h4 class="services">Kereskedelmi jog</h4>

            <p><strong>Szolgáltatások a kereskedelmi jog területén:</strong></p>
            <ul class="services">
              <li class="services">nemzetközi adásvételi szerződés megkötése</li>
              <li class="services">fizetésképtelenség területei: felszámolással, végelszámolással, csődeljárással kapcsolatos ügyek a kereskedelmi jog területén</li>
              <li class="services">versenyjogi ügyek: a tisztességtelen verseny tilalma</li>
              <li class="services">fogyasztóvédelmi ügyek </li>
              <li class="services">lízinggel kapcsolatos ügyek</li>
              <li class="services">megbízással, vállalkozási szerződéssel kapcsolatos ügyek</li>
              <li class="services">közbeszerzéssel kapcsolatos ügyek</li>
              <li class="services">szerződésszegésből eredő illetve szerződésen kívül okozott kártérítéssel kapcsolatos ügyek képviselete </li>
              <li class="services">nemzetközi kereskedelmi választottbíráskodás</li>
            </ul>
          </section>

          <!-- TARSASAGI JOG -->
          <section class="subsection">
            <div id="tarsasagi-jog"></div>
            <h4 class="services">Társasági jog</h4>

            <p><strong>Szolgáltatások a társasági jog területén:</strong></p>
            <ul class="services">
              <li class="services">cégalapítás, átalakulás (összeolvadás, egyesülés), megszüntetés (végelszámolás, felszámolás) vagyonrendezési eljárás, törvényességi felügyeleti eljárás, társasági részesedés átruházása, tagok közötti jogviták és egyéb perek társasági jog területén</li>
              <li class="services">az összes társasági forma létrehozása, átalakítása teljeskörű ügyintézéssel és  tanácsadással</li>
              <li class="services">az igényeknek legjobban megfelelő cégforma és székhely kiválasztása</li>
              <li class="services">tanácsadás non-profit szervezetek részére (alapítványok, egyesületek) a társasági jog területén</li>
              <li class="services">társadalmi szervezetek alapítása ügyében okiratszerkesztés és képviselet a bírósági bejegyzési eljárásban</li>
              <li class="services">okiratszerkesztés és képviselet</li>
            </ul>
          </section>
        </div>
      </div>
    </section>

    <!-- PARTNERS -->
    <div id="partnerek"></div>
    <section>
      <h4 class="fancy_separator">Partnerek</h4>
      <div class="row padding-back">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p>Vállalkozása sikerének érdekében két országban, négy partnerrel együttműködve vállaljuk cége teljes körű jogi, adminisztrációs és könyvviteli hátterének biztosítását.</p>
          <div class="row">
            <section id="magyar-partner" class="subsection col-sm-6">
              <h4 class="partners">Magyarországon</h4>
              <p><strong>Gaál Éva Nikoletta könyvelő</strong><br>
                  Könyviteli tanácsadás</p>
              <p><strong>Tóth Lóránd közgazdász</strong><br>
                  Befektetési és finanszírozási tanácsadó</p>
            </section>
            <section id="szlovak-partner" class="subsection col-sm-6">
              <h4 class="partners">Szlovákiában</h4>
                <p><strong>JUDr. Juraj Czirfusz ügyvéd</strong><br>
                  Kereskedelmi és polgári jogi tanácsadás</p>
                <p><strong>Brinzik Béla könyvelő</strong><br>
                  Könyviteli tanácsadás</p>
            </section>
        </div>
      </div>
    </section>

    <!-- FEES -->
    <div id="dijak"></div>
    <section>
      <h4 class="fancy_separator">Díjak</h4>
      <div class="row padding-back">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <p>A megbízás jellegétől függően óradíjas, illetve egyes feladatokra meghatározott fix díjas alapon nyújtok jogi szolgáltatást. Óradíjban történő megállapodás esetén ügyfeleimet előzetesen tájékoztatom a feladat elvégzéséhez előreláthatóan szükséges időről. A munkadíj nem foglalja magában a megbízás teljesítésével kapcsolatos készkiadásaimat (pl. illetékbélyeg, tulajdoni lap lekérése, vidéki utak költségei stb.).</p>
          <p><em>Óradíjas ügyellátás esetén óradíjam az ügyre előreláthatóan szükséges időtartam függvényében általában 10 és 20 ezer forint között alakul.</em></p>
        </div>
      </div>
    </section>

    <!-- CONTACT -->
    <div id="kapcsolat"></div>
    <section>
      <h4 class="fancy_separator">Kapcsolat</h4>
      <div class="row padding-back">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <p class="title"><strong>Dr. Tóth-Czirfusz Eva</strong></p>
              <p class="subtitle"><strong>ügyvéd, kereskedelmi jogi szakjogász</strong></p>
              <p>1132 Budapest</p>
              <p>Visegrádi utca 47.</p>
              <p>II. em. 15b.</p>
              <p><strong>Mobil:</strong> +36 30 2030667</p>
              <p><strong>E-mail:</strong><a href="mailto:czirfusz@gmail.com?Subject=Kapcsolatfelvétel" target="_top"> czirfusz@gmail.com</a></p><br>
            </div>
            <div class="col-xs-12 col-sm-6">
              <iframe width="300" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJJ7KPCArcQUcRuUGLxN9CScw&key=AIzaSyC70utkRBAUzYW29jgLbPV-yXIi2pDX0NQ" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div block-separator height="40"></div>
    <section>
      <div class="row padding-back">
        <div class="col-md-8 col-md-offset-2">
          <p><strong>Ügyfélfogadás telefonon egyeztetett időpontban.</strong></p>
          <p>Az első, fél-egy órás bemutatkozó konzultációért nem számítok fel munkadíjat.</p><br>
        </div>
      </div>
    </section>
  </div>

  <!-- FOOTER -->
  <div id="footer-container" class="container-fluid">
    <footer>
      <div id="social-buttons-container">
        <div id="share-buttons">

          <!-- LinkedIn -->
          <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://evol.tompascall.com" target="_blank"><img src="img/linkedin.png" alt="LinkedIn" /></a>

          <!-- Twitter -->
          <a href="http://twitter.com/share?url=http://evol.tompascall.com&text=Tóth Czirfusz Éva - ügyvéd&hashtags=ügyvéd" target="_blank"><img src="img/twitter.png" alt="Twitter" /></a>

          <!-- Google+ -->
          <a href="https://plus.google.com/share?url=http://evol.tompascall.com" target="_blank"><img src="img/googleplus.png" alt="Google" /></a>

          <!-- Facebook -->
          <a href="http://www.facebook.com/sharer.php?u=http://evol.tompascall.com" target="_blank"><img src="img/facebook.png" alt="Facebook" /></a>
        </div>
      </div>
      <div id="design">
        <p>Ez a honlap a Magyar Ügyvédi Kamarának az ügyvédi hivatás etikai szabályairól és elvárásairól szóló 5/2008 (XI.27.) MÜK Szabályzattal módosított <em>8/1999 (III.22.) MÜK Szabályzat</em>, továbbá a Magyar Ügyvédi Kamara Elnöksége által kiadott, az ügyvédi honlap tartalmáról szóló <em>2/2001. (IX. 3.) számú állásfoglalás</em> figyelembevételével készült. Kamarai nyilvántartási számom: 01-029174.</p>
        <br>
      </div>
    </footer>
  </div>

  <!-- SCRIPTS -->

  <!-- Initializing smooth-scroll -->
  <!-- https://github.com/cferdinandi/smooth-scroll -->
  <script>
    smoothScroll.init({
      offset: 40
    });
  </script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>
  <script src="js/vendor/bootstrap.min.js"></script>
  <script src="js/vendor/angular.min.js"></script>
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="js/vendor/ie10-viewport-bug-workaround.js"></script>
  <script src="js/vendor/jssor/jssor.js"></script>
  <script src="js/vendor/jssor/jssor.slider.mini.js"></script>
  <script src="js/app.js"></script>
</body>
